*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.wapper {
  margin: 0 auto;
  width: 100% !important;
  max-width: 1200px;
}

.section-padding {
  padding: 3em 2em;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}

.white-block-left {
  bottom: -40px;
  left: -50px;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.white-block-right {
  top: -39px;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.white-block-BottomLeft {
  bottom: 0px;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2F8F9D;
  color: #fff;
}

.navbar__logo {
  font-size: 2.2rem;
  margin-left: 1em;
}

nav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav .mainMenu li a:hover {
  background: #ff5e00;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.fa-facebook:hover {
  color: #006eff;
}

.fa-twitter:hover {
  color: #569af3;
}

.fa-instagram:hover {
  color: #ff00bf;
}

.fa-github:hover {
  color: #ff7b00;
}

nav .logo {
  margin: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  height: 100vh;
  background: linear-gradient(45deg, rgba(181, 181, 200, 0.75), rgba(199, 200, 181, 0.75)), url("/img/psychologist-helping-little-girl-speech-therapy-indoors.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.header__box {
  width: 50vh;
  padding: 0.5em;
  margin-bottom: 20%;
  background-color: rgba(59, 172, 182, 0.5);
  border-radius: 10px;
  text-align: center;
}

.header__box-heading {
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1.4rem;
  color: #2e2e2e;
}

.header__box-name {
  font-size: 0.7em;
  color: #fff;
}

.header__box-text {
  margin-top: 1em;
  font-size: 1rem;
  font-weight: 300;
}

.header__box hr {
  width: 90%;
  margin: auto auto;
}

.header__btn {
  padding: 0.6em;
  margin-bottom: 15%;
  font-size: 1.1rem;
  color: #fff;
  background-color: #2F8F9D;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header__btn::before {
  background-color: #eee;
}

.aboutme {
  position: relative;
}

.aboutme__box {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutme__box-img img {
  border-radius: 50%;
  width: 250px;
}

.aboutme__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
  text-align: center;
}

.aboutme__box-text-title h4 {
  border-bottom: 2px solid #2F8F9D;
}

.aboutme__box-text-title p {
  margin-top: 0.3em;
  color: #2F8F9D;
  font-size: 1.2rem;
}

.aboutme__box-text-description {
  padding: 1em 0;
  font-size: 1.1rem;
}

.consultation {
  position: relative;
  background-color: #B3E8E5;
  z-index: -1;
}

.consultation__container {
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.consultation__container-title {
  padding: 0.7em;
  font-size: 1.4rem;
  background-color: #2F8F9D;
  color: #fff;
  position: relative;
}

.consultation__container-title::before {
  content: "";
  position: absolute;
  left: -50px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 50px solid #2F8F9D;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.consultation__container-localization {
  font-size: 1.1rem;
  color: #2F8F9D;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.5em 0;
  background-image: linear-gradient(45deg, rgba(181, 181, 200, 0.75), rgba(199, 200, 181, 0.75)), url("../img/woman-doing-speech-therapy-with-little-blonde-boy.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.card__group {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  padding: 1em;
  margin: 3em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: #fff;
}

.card__group i {
  font-size: 3rem;
  padding: 0.5em;
  color: #2F8F9D;
}

.card__group-body {
  font-size: 1rem;
  text-align: center;
}

.card__group-body-title {
  margin: 0.5em 0;
}

.card__group-body-text {
  margin: 0.5em 0;
}

.card__group:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #2F8F9D;
    -webkit-transition: top 1s ease 0s;
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: #ff7b00;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  .header__box {
    padding: 1.5em;
    margin-bottom: 15%;
  }
  .header__box-heading {
    font-size: 1.8rem;
  }
  .header__btn {
    margin-bottom: 15%;
    padding: 1em;
    font-size: 1rem;
  }
  .navbar {
    height: 75px;
  }
  .navbar__logo {
    margin-left: 10%;
    font-size: 3rem;
  }
  .aboutme__box {
    padding: 0.5em 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutme__box-img img {
    width: 300px;
  }
  .aboutme__box-text-description {
    padding: 2em;
    font-size: 1.2rem;
  }
  .card {
    margin: 2em auto;
    padding: 2em 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card__group {
    padding: 1em;
    margin: 0 0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 8px;
    background-color: #fff;
  }
  .card__group i {
    font-size: 3.5rem;
    padding: 0.5em;
  }
  .card__group-body {
    font-size: 1rem;
    text-align: center;
  }
  .card__group-body-title {
    margin: 1em 0;
    font-size: 1.3rem;
  }
  .card__group-body-text {
    padding: 1em;
    margin: 0.5em 0;
  }
}

@media (min-width: 992px) {
  .header__box {
    width: 75%;
    padding: 1.5em;
    margin-bottom: 10%;
  }
  .header__box-heading {
    font-size: 2rem;
  }
  .header__box-text {
    font-size: 1.2rem;
  }
  .header__btn {
    margin-bottom: 10%;
    padding: 1em 2em;
    font-size: 1.2rem;
  }
  .aboutme__box {
    margin: 0 2em;
  }
  .aboutme__box-img img {
    width: 330px;
  }
  .consultation__container {
    padding: 2.5em 1em;
  }
  .consultation__container-title {
    font-size: 1.7rem;
  }
  .consultation__container-localization {
    font-size: 1.3rem;
  }
  .card {
    padding: 5em 1em;
  }
  .card__group {
    max-width: 500px;
    margin: 0 1em;
  }
}

@media (min-width: 1200px) {
  .header__box {
    min-height: 250px;
  }
  .aboutme__box {
    max-width: 1200px;
    margin: 0 6em;
  }
}
/*# sourceMappingURL=style.css.map */