@import "./colors";
@import "./mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	// font-family: "Dancing Script", cursive;
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.section-padding {
	padding: 3em 2em;
}
.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: $pure-white;

	&-left {
		bottom: -40px;
		left: -50px;
		transform: skew(-45deg);
	}
	&-right {
		top: -39px;
		left: -50px;
		transform: skew(45deg);
	}
	&-BottomLeft {
		bottom: 0px;
		left: -50px;
		transform: skew(45deg);
	}
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $main-color;
	color: $pure-white;
	&__logo {
		font-size: 2.2rem;
		margin-left: 1em;
	}
}
nav .mainMenu {
	display: flex;
	list-style: none;
}
nav .mainMenu li a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: $pure-white;
	font-size: 18px;
	transition: 0.2s ease;
}
nav .mainMenu li a:hover {
	background: rgb(255, 94, 0);
}
nav .openMenu {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
	font-size: 2rem;
	display: none;
	cursor: pointer;
}
.fa-facebook:hover {
	color: rgb(0, 110, 255);
}
.fa-twitter:hover {
	color: rgb(86, 154, 243);
}
.fa-instagram:hover {
	color: rgb(255, 0, 191);
}
.fa-github:hover {
	color: rgb(255, 123, 0);
}
nav .logo {
	margin: 6px;
	cursor: pointer;
	text-transform: uppercase;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 2em;
	height: 100vh;
	background: $light-gradient,
		url("/img/psychologist-helping-little-girl-speech-therapy-indoors.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;

	&__box {
		width: 50vh;
		padding: 0.5em;
		margin-bottom: 20%;
		background-color: $main-color;
		border-radius: 10px;
		text-align: center;
		&-heading {
			margin-bottom: 0.5em;
			font-weight: 600;
			font-size: 1.4rem;
			color: $pure-white;
		}
		&-name {
			font-size: 0.7em;
			color: $pure-white;
		}
		&-text {
			margin-top: 1em;
			font-size: 1rem;
			font-weight: 300;
		}
		hr {
			width: 90%;
			margin: auto auto;
		}
	}
	&__btn {
		padding: 0.6em;
		margin-bottom: 15%;
		font-size: 1.1rem;
		color: $pure-white;
		background-color: $main-color;
		border-radius: 10px;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: $light-white;
		}
	}
}
.aboutme {
	position: relative;
	&__box {
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&-img {
			img {
				border-radius: 50%;
				width: 250px;
			}
		}
		&-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			margin-top: 1em;
			text-align: center;
			&-title {
				h4 {
					border-bottom: 2px solid $main-color;
				}
				p {
					margin-top: 0.3em;
					color: $main-color;
					font-size: 1.2rem;
				}
			}
			&-description {
				padding: 1em 0;
				font-size: 1.1rem;
			}
		}
	}
}

.consultation {
	position: relative;
	background-color: $third-color;
	z-index: -1;
	overflow: hidden;
	&__container {
		padding: 1.8em 1em;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		&-title {
			padding: 0.2em;
			font-size: 1.3rem;
			color: $main-color;
			position: relative;
		}
		&-localization {
			padding: 0.5em;
			font-size: 1rem;
			color: $main-color;
			position: relative;
		}
	}
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 1.5em 0;
	background-image: $light-gradient,
		url("../img/woman-doing-speech-therapy-with-little-blonde-boy.jpg");
	background-attachment: fixed;
	background-size: cover;
	&__group {
		transition: transform 0.3s;
		padding: 1em;
		margin: 3em 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		background-color: $pure-white;
		i {
			font-size: 3rem;
			padding: 0.5em;
			color: $secondary-color;
		}
		&-body {
			font-size: 1rem;
			text-align: center;
			&-title {
				margin: 0.5em 0;
			}
			&-text {
				margin: 0.5em 0;
			}
		}
	}
	&__group:hover {
		transform: scale(1.1);
	}
}
.therapy {
	padding: 2em 1em;
	margin: 2em auto;
	&__title {
		padding: 1em;
		background-color: $main-color;
		color: $pure-white;
		width: 100%;
		margin-bottom: 1em;
		text-align: center;
		font-size: 1.4rem;
	}
	&__box {
		margin: 2em 0.5em;
		border-radius: 10px;
		&-img {
			img {
				width: 100%;
			}
		}
		&-text {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border: 1px solid $main-color;
			&-title {
				padding: 0.8em;
				height: 65px;
				text-align: center;
				font-size: 1.2rem;
				font-weight: 600;
				color: white;
				background-color: $secondary-color;
			}
			&-description {
				padding: 1em;
				text-align: center;
				font-size: 1rem;
			}
		}
	}
}
// ==================================
// contact
// ==================================
.contact {
	position: relative;
	&__title {
		padding: 1em;
		background-color: $main-color;
		color: $pure-white;
		width: 100%;
		margin-bottom: 1em;
		text-align: center;
		font-size: 1.4rem;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1.8em 1em;
		width: 100%;
		background-color: $main-color;

		&-sectionTitle{
			padding: 0.5em;
			font-size: 1.2rem;
		}
		&-details, &-emailBox{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			padding: 0.8em;
			margin-top: 0.5em;
			border-radius: 1em;
			background-color: $pure-white;
	}
		&-details {
			&-mail,
			&-telephone {
				font-size: 1rem;
			}
			&-social {
				padding: 1em;
				font-size: 1rem;
				i {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 2rem;
				}
				p {
					padding: 1em;
					font-size: 1rem;
				}
			}
		}

		&-emailBox {
			&-title {
				padding: 0.5rem;
				margin-top: 0.5em;
				font-size: 1rem;
			}
				&-name,
				&-lastName,
				&-text {
					margin-bottom: 0.5em;
				}
				&-text {
					textarea {
						min-height: 100px;
						max-height: 100px;
						min-width: auto;
						max-width: 500px;
					}
				}
				&-button {
					height: 2.5em;
					width: 7em;
					padding: 0.5em;
					background-color: $main-color;
					border-radius: 1em;
					color: $pure-white;
					font-size: 1rem;
					cursor: pointer;
				}
			}
	}
}
// ==================================
// MEDIA
// ==================================
@media (min-width: 768px) {
	.header {
		&__box {
			padding: 1.5em;
			margin-bottom: 15%;
			&-heading {
				font-size: 1.8rem;
			}
		}
		&__btn {
			margin-bottom: 15%;
			padding: 1em;
			font-size: 1rem;
		}
	}

	.navbar {
		height: 75px;
		&__logo {
			margin-left: 10%;
			font-size: 3rem;
		}
	}
	.aboutme {
		&__box {
			padding: 0.5em 1em;
			flex-direction: row;

			&-img {
				img {
					width: 300px;
				}
			}
			&-text {
				&-description {
					padding: 2em;
					font-size: 1.2rem;
				}
			}
		}
	}
	.consultation {
		&__container {
			padding: 2em 1em;
			&-title {
				padding: 0.45em;
				font-size: 1.4rem;
				background-color: $main-color;
				color: $pure-white;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					left: -2.1em;
					bottom: 0;
					width: 0;
					height: 0;
					border-right: 2.1em solid $main-color;
					border-top: 1em solid transparent;
					border-bottom: 1em solid transparent;
				}
			}
			&-localization {
				padding: 0.45em;
				font-size: 1.1rem;
				background-color: $main-color;
				color: $pure-white;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					left: -2.05em;
					bottom: 0;
					width: 0;
					height: 0;
					border-right: 2.1em solid $main-color;
					border-top: 1em solid transparent;
					border-bottom: 1em solid transparent;
				}
			}
		}
	}
	.card {
		margin: 2em auto;
		padding: 2em 1em;
		flex-direction: row;
		&__group {
			padding: 1em;
			margin: 0 0.5em;
			flex-direction: column;
			justify-content: center;
			border-radius: 8px;
			background-color: $pure-white;
			i {
				font-size: 3.5rem;
				padding: 0.5em;
			}
			&-body {
				font-size: 1rem;
				text-align: center;
				&-title {
					margin: 1em 0;
					font-size: 1.3rem;
				}
				&-text {
					padding: 0.5em;
				}
			}
		}
	}
	.therapy {
		&__boxes {
			display: flex;
			flex-direction: row;
		}
	}
	.contact {
		&__container {
			flex-direction: row;
			justify-content: space-between;

			&-details, &-emailBox {
				display: flex;
				flex-direction: column;
				justify-content: space-around;

			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__box {
			width: 75%;
			padding: 1.5em;
			margin-bottom: 10%;
			&-heading {
				font-size: 2rem;
			}
			&-text {
				font-size: 1.2rem;
			}
		}
		&__btn {
			margin-bottom: 10%;
			padding: 1em 2em;
			font-size: 1.2rem;
		}
	}
	.aboutme {
		&__box {
			margin: 0 2em;
			&-img {
				img {
					width: 330px;
				}
			}
		}
	}
	.consultation {
		&__container {
			padding: 2.5em 1em;
			&-title {
				font-size: 1.7rem;
				// text-transform: uppercase;
			}
			&-localization {
				font-size: 1.3rem;
			}
		}
	}
	.card {
		padding: 5em 1em;
		&__group {
			max-width: 500px;
			margin: 0 1em;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__box {
			min-height: 250px;
		}
	}
	.aboutme {
		&__box {
			max-width: 1200px;
			margin: 0 6em;
		}
	}
}

// ==================================
// NAV OPTIONS
// ==================================

@media (max-width: 800px) {
	nav .mainMenu {
		height: 100vh;
		position: fixed;
		top: 0px;
		right: 0px;
		left: 0px;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: $main-color;
		transition: top 1s ease 0s;
		display: none;
	}
	nav .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	nav .openMenu {
		display: block;
	}
	nav .mainMenu li a:hover {
		background: none;
		color: $secondary-color;
	}
	.icons i {
		display: inline-block;
		padding: 12px;
	}
}
